@model List<Heuristics.TechEval.Core.Models.Member>

@{
    ViewBag.Title = "Members";
}

<h1>Member List</h1>

<button type="button" class="new-member-button btn btn-primary pull-right" data-toggle="modal" data-target="#MemberModal">Add Member</button>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr id="row-@member.Id">
                <th scope="row">@member.Id</th>
                <td>@member.Name</td>
                <td>@member.Email</td>
                <td>
                    <button id="editMemberButton-@member.Id" class="edit-member-button btn btn-primary center-block" data-toggle="modal" data-target="#MemberModal" data-member-name="@member.Name" data-member-email="@member.Email" data-member-Id="@member.Id">Edit Member</button>
                </td>
            </tr>
        }
    </tbody> 
</table>

<div class="modal fade" id="MemberModal">
    <div class="modal-dialog" role="document">
        <form id="MemberForm" action="/Members/New" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name">Member Name</label>
                        <input id="nameInput" type="text" class="form-control" name="Name" placeholder="John Smith" />
                        <h5 id="nameCheck"
                            style="color: red;"
                            hidden="hidden">
                            **Name is missing
                        </h5>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email Address</label>
                        <input id="emailInput" type="email" class="form-control" name="Email" placeholder="you@awesome.com" />
                        <h5 id="emailCheck"
                            style="color: red;"
                            hidden="hidden">
                            **Email is missing
                        </h5>
                        <h5 id="emailDuplicate"
                            style="color: red;"
                            hidden="hidden">
                            **Email taken
                        </h5>
                    </div> 
                </div>
                <div class="modal-footer">
                    <input id="saveButton" type="submit" class="btn btn-primary" value="Save" disabled/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    let activeDocumentId;

    $(document).ready(function () {
        $("#MemberForm").ajaxForm({
            success: function (formData, jqForm, options) {
                // sure would be nice if we didn't have to reload the whole page...
                document.location.reload();
            }
        });

        let isNameDirty = false;
        let isEmailDirty = false;

        $("#nameInput").keyup(function () {
            const nameValue = $("#nameInput").val();
            isNameDirty = validateInput(nameValue);

            $("#nameCheck").toggle(isNameDirty);
            $("#saveButton").prop('disabled', isNameDirty || isEmailDirty);
        });

        $("#emailInput").keyup(function () {
            const emailValue = $("#emailInput").val();
            isEmailDirty = validateEmail(emailValue);

            $("#saveButton").prop('disabled', isNameDirty || isEmailDirty);
        });

        function validateInput(inputedValue) {
            const isDirty = inputedValue == "";

            return isDirty;
        }

        function validateEmail(email) {
            var membersData = @Html.Raw(Json.Encode(Model));
            const isEmptyString = validateInput(email);
            const isDuplicate = membersData.some((member) => {
                isExistingEmail = email?.toLowerCase() === member.Email.toLowerCase();
                isDifferentId = member.Id != activeDocumentId;

                return isExistingEmail && isDifferentId;
            });

            $("#emailDuplicate").toggle(isDuplicate);
            $("#emailCheck").toggle(isEmptyString);
            return isEmptyString || isDuplicate;
        }
    });
    $(document).on("click", ".edit-member-button", function () {
        $("#MemberForm").attr("action", "/Members/Edit/" + this.dataset.memberId);
        $("#MemberModal input[name='Name']").val(this.dataset.memberName);
        $("#MemberModal input[name='Email']").val(this.dataset.memberEmail);
        activeDocumentId = this.dataset.memberId;
    });
    $(document).on("click", ".new-member-button", function () {
        $("#MemberModal")
        .resetForm()
            .attr("action", "/Members/New");
        activeDocumentId = undefined;
    });
</script>


